<h1>
  Actor <%=@the_actor.id%> details
</h1>

<a href="/actor" class="btn btn-block btn-outline-secondary">
  Go back
</a>

&nbsp;|&nbsp;

<a href="/delete_movie/1" class="btn btn-block btn-outline-secondary">
  Delete movie
  <small>(Building this link is not required. It's an optional stretch goal; but, you have the tools if you want to give it a try.)</small>
</a>

<hr>

<dl>
  <dt>
    Name
  </dt>
  <dd>
    <%=@the_actor.name%>  
  </dd>

  <dt>
    Dob
  </dt>
  <dd>
    <%=@the_actor.dob%>
  </dd>

  <dt>
    Bio
  </dt>
  <dd>
    <%=@the_actor.bio%>
  
  <dt>
    Image
  </dt>
  <dd>
    <img src="http://robohash.org/">
    <!-- style="width:250px;">-->
  </dd>
  

  <dt>
    Created at
  </dt>
  <dd>
    <%= time_ago_in_words(@the_actor.created_at) %> ago
  </dd>

  <dt>
    Updated at
  </dt>
  <dd>
    <%= time_ago_in_words(@the_actor.updated_at)%> ago
  </dd>
</dl>

<hr>
